# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.jpg
_working/backup_July2014.zip
_working/CartoDB_logo.png
_working/CDKN_logo.png
_working/Cory/Belize_CCT/.index.html.swp
_working/Cory/Belize_CCT/CP_Legend.png
_working/Cory/Belize_CCT/css/dark-theme.css
_working/Cory/Belize_CCT/css/light-theme.css
_working/Cory/Belize_CCT/css/makeitresponsive.css
_working/Cory/Belize_CCT/CV_Legend.png
_working/Cory/Belize_CCT/index.html
_working/Cory/Belize_CCT/js/script.js
_working/Cory/Belize_CCT/LeafletDraw_Buttons.png
_working/Cory/Belize_CCT/LeafletPoly_Button.png
_working/Cory/Belize_CCT/LeafletSquare_Button.png
_working/Cory/Belize_CCT/Logos5.png
_working/index.html
_working/index_Nov2014.html
_working/indexAndrew.html
_working/indexGulf.html
_working/LeafletDraw_Buttons.png
_working/Logos5.ai
_working/Logos5.png
_working/test.html
_working/toggleSimple.html
_working/tutorial-toggle_map_view-template.html
_working/WWF_CV_Gulf.html
